.QA-card {
  /* border: grey solid; */
  /* border-radius: 0; */
  font-family: "Abel", sans-serif;
  font-size: 1.1em;
  background-color: rgba(74, 74, 74, 0.65);
}

.QA-card.border {
  /* opacity: 0.8; */
}
